$light-red: #DC6771;
$dark-red: #A8444D;
$light-black: #393938;
$dark-black: #272926;
$red-button: rgba(101, 32, 39, 0.36);
$black-button: #3F3F3F;
$font-color-red:( "title": #FFEEF0, "paragraph": #FFEEEF);
$font-color-black:( "title":#EBEBEB, "paragraph": rgba(235, 235, 235, 0.84))